$primary-color : #1B2533;
$primary-color-hover : #0e131a;

$secondary-color : #FF6827;
$secondary-color-hover: #dc5a21;

$primary-color-shade : rgb(223, 234, 248);
$secondary-color-shade : #FFD0C0;

$shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

$shadow2: rgba(0, 0, 0, 0.08) 0px 4px 5px;

$shadow3: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;;