// FONTS
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Bold.woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Bold_Italic.woff");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-ExtraBold.woff");
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-ExtraLight.woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-ExtraLight_Italic.woff");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Light.woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Light_Italic.woff");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Medium.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Medium_Italic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Regular.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Regular_Italic.woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-SemiBold.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-SemiBold_Italic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Thin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: BlauerNue;
    src: url("/public/fonts/BlauerNue-Thin_Italic.woff");
    font-weight: 300;
    font-style: italic;
}
