@use "./partials/_variables" as *;
@use "./partials/fonts" as *;
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/@tomtom-international/web-sdk-maps/dist/maps.css";
// RESET
* {
    font-family: BlauerNue;
    font-variant: normal;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    li {
        list-style-type: none;
    }


    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}



.container {
    width: 80%;
}

.container-outer {
    width: 80%;
}

.container-inner {
    width: 100%;
}

.stats {
    display: flex;
}

// GENERAL
h1 {
    font-family: BlauerNue;
    font-variant: normal;
    font-weight: bolder;
}

h4 {
    font-family: BlauerNue;
    font-variant: normal;
    font-weight: 700;
    font-size: 1.2rem;
}

p {
    font-family: BlauerNue;
    font-variant: normal;
    font-weight: 200;
    font-size: 0.8rem;
}

label {
    font-family: BlauerNue;
    font-variant: normal;
    font-weight: 500;
    font-size: 1.4rem;
}

.ms_img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.mt-auto {
    margin-top: auto;

}

a {
    text-decoration: none;
    color: inherit;
}

.mt-100 {
    margin-top: 100%;
}

.h-100 {
    height: 100%;
}

.sidebar_logo {
    width: 70%;
    max-height: 65px;
}

.nav-item-li {
    width: 100% !important;
    height: 40px !important;
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: $shadow2;
    min-width: 100%;
}

.ms_nav_item_logo {
    width: 100% !important;
    height: 80px !important;
    min-width: 235px;
    display: flex;
    justify-content: start;
}

// NAVBAR
.icon {
    width: 30px;
}

nav {
    ul {
        li {
            // margin: 20px 0 0 0;
            

            span {
                font-size: 1rem;
            }
        }
    }
}

// SIDEBAR
.sidebar_size {
    min-width: 17%;
}

.ms_navbar {
    height: 80px;
    
}

// CARD

.ms_search_bar {
    box-shadow: $shadow2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    padding: 1rem;
    background-color: white;
    border-radius: 999em 999em 999em 999em;
    max-width: 1000px;
}

.ms_search_bar_ar {
    box-shadow: $shadow2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    max-width: 1000px;
}

.ms_search_bar_in {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: $primary-color;
    padding: 0.5rem;
    background-color: white;
    border-radius: 999em 999em 999em 999em;
    padding: 1rem;
    border: 0;
}

.ms_card {
    box-shadow: $shadow2;
    border-radius: 0.5rem;
    color: $primary-color;
    padding: 0.5rem;
    background-color: white !important;
}

.ms_card_img {
    box-shadow: $shadow2;
    border-radius: 1.0rem;
    color: $primary-color;
    padding: 0;
    margin: 0;
    max-width: 800px;
    background-color: white !important;
}

.ms_card_section {
    box-shadow: $shadow2;
    border-radius: 1.5rem;
    color: $primary-color;
    padding: 0;
    margin: 0;
    max-width: 800px;
    background-color: $primary-color !important;
    color: white;
}

.ms_card_out {
    box-shadow: $shadow2;
    border-radius: 1.5rem;
    color: $primary-color;
    padding: 0.5rem;
}

.ms_card_shade {
    box-shadow: $shadow2;
    border-radius: 0.5rem;
    color: #212529;
    background-color: $primary-color-shade;
    padding: 0.5rem;
}


// TEXT
.text-navbar {
    color: $primary-color;
}

.text_searchbar {
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color;
}

.txt-white {
    color: white;
}


// TABLES
.ms_table {
    border-radius: 0.5rem;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    width: 100%;
    box-shadow: $shadow;

    thead {
        background-color: $primary-color;
        color: white;

        th {
            font-family: BlauerNue;
            font-variant: normal;
            font-weight: bolder;
            padding: 10px;
        }
    }

    tbody {
        th {
            padding: 1rem;
            font-family: BlauerNue;
            font-variant: normal;
            font-weight: bolder;
        }

        tr {
            border-bottom: 1px solid $primary-color;

            &:hover {
                background-color: $primary-color-shade;
            }
        }

        td {
            padding: 1rem;
        }
    }
}

// BACKGROUND-COLOR
.ms_backC_primary {
    background-color: $primary-color !important;
}

.ms_backC_card {
    background-color: $primary-color-shade !important;
}

.ms_backC_secondary {
    background-color: $secondary-color !important;
}

.ms_backC_secondary_selected {
    background-color: $secondary-color !important;
    color: white;
    padding: 20px; 
}

.ms_backC_tertiary {
    background-color: white !important;
}


// COLOR-TEXT
.ms_t-white {
    color: white;
}

.ms_t-black {
    color: #212529;
}

.nav-link {
    padding: 0 !important;
}

// BUTTONS
.ms_button {
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
    box-shadow: $shadow2;
}

.ms_button_secondary {
    border: 1px solid $primary-color;
    background-color: none;
    padding: 0.5rem 1rem;
    color: $primary-color;
    border-radius: 0.5rem;
    box-shadow: $shadow2;
}


// SHADOW
.ms_shadow {
    box-shadow: $shadow;
}

.ms_shadow2 {
    box-shadow: $shadow2;
}

.ms_shadow3 {
    box-shadow: $shadow3;
}

// BORDER
.ms_border {
    border-radius: 1.5rem;
}

.ms_border_inner {
    border-radius: 0.5rem;
}

.ms_border_circle {
    border-radius: 999em 999em 999em 999em;
}

@import "./partials/queries";

